body{
    background-image: url("../images/weather.jpg");
    background-repeat: no-repeat;
    background-size:2000px 1500px;
    color:rgb(5, 159, 248);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    height: 100vh;
    margin-top: 200px;
}
.input{
    margin-bottom: 100px;
    display: flex;
    height: 30px;
    align-items: center;
    gap: 20px;
    color: rgb(255, 255, 255);
    font-size: larger;
}
.input input[ type=text]{
    height:  20px;
    opacity: 30%;
    border: 3px solid rgba(255, 255, 255, 0.808);
    box-shadow: 3px 3px 9px rgba(7, 109, 226, 0.3);
    border-radius: 20px;
    padding: 10px;
}
.button{
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    cursor: pointer;
    background-color: rgb(1, 27, 27);
    color: #000;
    box-shadow: 6px 6px 15px rgba(47, 76, 238, 0.3);
    border: 3px solid rgba(186, 194, 199, 0.808);
    color: rgb(225, 225, 247);
    
    
}
.button:hover{
    width: 85px;
    height: 35px;
}

.forcast {
    font-size: 80px;
}